@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #FF6B00;
    --color-secundario: #0D47A1;
    --color-terceario: #1B1B1B;
    


    --fuente-titulos: "Krona one", sans-serif;
    --fuente-texto: "Montserrat", sans-serif; 

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: var(--color-terceario);
    padding: 0% 0 0 17%;
}

.header__menu{
    display: flex;
    gap: 30px;
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.header__menu__link{
    font-family: "Montserrat", sans-serif; 
    color: white;
    font-size: 24px;
    
}


.inicio{
     height: 100vh;
     margin: 0%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0% 20%;
     position: relative;
     overflow: hidden;
}

.inicio__fondo{
background-image: url(../assets/fondo.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: absolute;
z-index: 0;
inset: 0;
filter: blur(4px);
}

.inicio__fondo::before{
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.inicio__contenido{
    position: relative;
    z-index: 1;
}


.inicio__contenido__titulo{
    font-family:'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: var(--color-primario);
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.inicio__contenido__texto{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    max-width: 600px;
    color: white;
    margin: 0 auto;
    line-height: 1.6;
}

.inicio__link{
    display: flex;
    font-family: var(--fuente-texto);
    font-weight: 600;
    color: white;
    padding: 12px 24px ;
    background-color: var(--color-primario);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    gap: 20px;
    margin: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sobre-Nosotros{
display: flex;
justify-content: center;
align-items:flex-start;
padding: 98px 10%;
gap: 80px;

}

.sobre-Nosotros__contenido{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.sobre-Nosotros__contenido__imagen{
    flex-shrink: 0;
    max-width: 400px;
    margin-left: -35px;
}

.sobre-Nosotros__contenido__imagen-entrenador{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}



.sobre-Nosotros__descripcion{
    display: flex;
    flex-direction: column;
    gap:24px; 
    width: 400px;

}

.sobre-Nosotros__descripcion__titulo{
    font-family: var(--fuente-titulos);
    font-size: 37.3px;
    font-weight: 600;
}
.sobre-Nosotros__descripcion__texto{
    font-family: var(--fuente-texto);
    font-size: 18px;
    font-weight: 400;
}

/* Responsividad */
@media (max-width: 768px) {
    .sobre-Nosotros {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }
}