@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #ffffff;
    --color-terceario: #c2c2c2;
    --color-resaltar: #1f1f1f;
    


    --fuente-titulos: "Montserrat", sans-serif;
    --fuente-texto: "Krona one", sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: var(--color-primario);
    padding: 0 0 10px 17%;
    align-items: center;
    
}

.header__menu{
    display: flex;
    gap: 30px;
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.header__menu__link{
    font-family: "Montserrat", sans-serif; 
    color: var(--color-secundario);
    font-size: 24px;
    text-decoration: none;
    position: relative;
    padding: 0 0 0 9px;
}

.header__menu__link:hover {
  color: var(--color-terceario); /* Naranja de tu paleta */
}

/* Línea animada debajo del link */
.header__menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-terceario); /* mismo color que el hover */
  transition: width 0.3s ease;
}

.header__menu__link:hover::after {
  width: 100%; /* Se extiende la línea al hacer hover */
}


.inicio{
     height: 100vh;
     margin: 0%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0% 20%;
     position: relative;
     overflow: hidden;
}

.inicio__fondo{
background-image: url(../assets/prueba1.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: absolute;
z-index: 0;
inset: 0;
filter: blur(4px);
}

.inicio__fondo::before{
    position: absolute;
    content: "";
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.inicio__contenido{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    align-items: center;
    gap: 20px;
}


.inicio__contenido__titulo{
    font-family:var(--fuente-titulos);
    font-size: 80px;
    color: white;
    font-weight: 800;
    text-align: center;
}

.inicio__link{
    font-family: var(--fuente-titulos);
    font-weight: 600;
    font-size: 20px;
    color: var(--color-primario);
    background-color:var(--color-terceario);
    border-radius: 60px;
    width: 160px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.inicio__link:hover{
    transform: translateY(-3px); /* Eleva un poco el botón */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* Sombra elegante */
    opacity: 0.9; /* Un poco de transparencia */
}



.sobre-Nosotros{
display: flex;
justify-content: center;
align-items:flex-start;
padding: 98px 10%;
gap: 80px;
background-color: var(--color-resaltar);
}

.sobre-Nosotros__contenido{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.sobre-Nosotros__contenido__imagen{
    flex-shrink: 0;
    max-width: 400px;
    margin-left: -35px;
    
}

.sobre-Nosotros__contenido__imagen-entrenador{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.sobre-nosotros__contenido__links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
}

.sobre-nosotros__contenido__links__etiquetas{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: var(--fuente-titulos);
    font-weight: 500;
    font-size: 15px;
    background-color: var(--color-terceario);
    color: var(--color-primario);
    border-radius: 50px;
    width: 140px;
    gap:8px ;
    height: 50px;
    padding-left: 10px;
}

.sobre-nosotros__contenido__links__etiquetas:hover{
    transform: translateY(-3px); /* Eleva un poco el botón */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* Sombra elegante */
    opacity: 0.9; /* Un poco de transparencia */
}

.sobre-nosotros__contenido__links__etiquetas img{
    width: 20px;
    height: auto;
}

.sobre-Nosotros__descripcion{
    display: flex;
    flex-direction: column;
    gap:24px; 
    width: 400px;

}

.sobre-Nosotros__descripcion__titulo{
    font-family: var(--fuente-titulos);
    font-size: 35px;
    font-weight: 800;
    color: var(--color-secundario);
}

.sobre-Nosotros__descripcion__texto{
    font-family: var(--fuente-texto);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secundario);
}

/* Responsividad */
@media (max-width: 768px) {
    .sobre-Nosotros {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }
}